html {
	font-size: 62.5%;
	line-height: 1.285;
	width: 100%;
	overflow-x: hidden;
}

html * {
	vertical-align: middle;
	box-sizing: border-box;
	word-break: break-all;
}

body {
	font-family: "Pretendard";
	width: 100%;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 11px;
}
body::-webkit-scrollbar-thumb {
	height: 20%;
	background: #ff6c3a;
	border-radius: 10px;
}
body::-webkit-scrollbar-track {
	background: transparent;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:visited {
	color: #000;
	text-decoration: none;
}

section {
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 5rem;
	color: #FFF;
	margin: 3rem 0 15rem;
}

h2 {
	font-size: 2.5rem;
}

main section {
	margin-top: 10rem;
	font-size: 2rem;
	line-height: 1.8;
}

.con {
	width: 100%;
	overflow: hidden;
}

.sub-con {
	text-align: center;
}